body {
    width: : 800px;
    float: none;
}

header {
    background-color: #473e3e;
    height: 70px;
    padding: 2em;
}

li {
    display: inline-block;
    list-style: none;
}
img {
    display: inline-block;
    float: left;
    margin: 2em;
}

#photo2 {
    border-radius: 15px;
}
