body {
    width: : 800px;
    float: none;
}

header {
    background-color: #473e3e;
    height: 70px;
    padding: 2em;
}

li {
    display: inline-block;
    list-style: none;
}
img {
    display: inline-block;
    float: left;
    margin: 2em;
}

#photo2 {
    border-radius: 15px;
    width: 60%;
}
aside {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid black;
}
main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
#textmain {
text-align: center;
background-color: silver;
border-radius: 2px;
padding: 1em;
}
