body {
    float: none;
}

header {
    background-color: #473e3e;
}
ul {
    margin-left: auto;
    margin-right: auto;
    width: 66%;

}
li {
    display: inline-block;
    color: #8d8a8a;
    vertical-align: middle;
    font-size: 10px;
    margin: 1em 0;
}
img {
    display: inline-block;
    float: left;
}

#photo2 {
    border-radius: 5px;
    width: 60%;
    margin-right: 2em;
}
aside {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 19px

}
main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
#textmain {
text-align: center;
background-color: #f2f2f2;
border-radius: 5px;
padding: 1em;
border: 1px solid #dbdbdb;
}
.three-column {
  -moz-column-count: 3;
  -moz-column-gap: 2em;
  margin-top: 1.60em;
}
p {
    font-size: 10px;
}
#call {
    background-color: #6667d7;
    color: #fcf9f9;
    border-radius: 6px;
    padding: 0.65em;
    font-size: 12px;
}
footer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
button {
    font-size: 8px;
}
h1 {
    font-family: 'Umpush Light', cursive;
    font-weight: normal;
    font-size: 1.5em;
}
h2 {
    margin-top: auto;
    font-family: 'Umpush Light', cursive;
    font-weight: normal;
}
li.liste {
    margin-right: 1em;
}
* {
    font-family: 'Umpush Light', cursive;
    font-size: 1em;
    font-weight: normal;
}
